
.game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 40px 0px;
  min-height: 100vh;
  color: #1f1c1c;
  font-family: Arial, Helvetica, sans-serif;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.status {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.square {
  background: #1a2333;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  width: 120px;
  height: 120px;
  cursor: pointer;
  transition: 1s;
}

.square:hover {
  background: #4ea8de;
  color: #0b1220;

}

/* Row style */
.board-row {
  display: flex;
}

/* Game Info - Move History */
.game-info {
  background: #1a2333;
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
}

.game-info button {
  background: #4ea8de;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  width: 100%;
  margin: 5px 0;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: bold;
}

.game-info button:hover {
  background: #a2d2ff;
  color: #000;
}

/* Responsive */
@media (max-width: 600px) {
  .game {
    flex-direction: column;
    align-items: center;
  }
  .game-info {

    min-width:80vw;
    margin: auto 10vw;
    text-align: center;
  }.game-info button {

  width: 80%;

}
}
