/* External CSS */

input{
  margin: 10px;
  width: 200px;
  box-shadow:0px 0px 10px black inset;
}
input:focus

{
  outline:none;
}
input:hover

{
  box-shadow:0px 0px 15px black inset;
  transition:0.3s;
  transform:scale(1.02);
}

.submit-btn

{
  background-color: rgb(25, 173, 70);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 305px;
  box-shadow:0px 0px 20px black inset;



}