form
{
    background-color: rgb(196, 213, 148);
    border-radius: 10px;
    box-shadow: 0px 0px 25px black inset;
    align-items: center;
    width: 30vw;
    height:auto;
    min-height: 300px;
    margin: auto;
    padding: 20px;
}

form h1
{

    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
form input

{
    width: 50%;
    padding: 10px;
    height: 20px;
}
form button

{
    width: 20%;
    margin: 0 25px;
    padding: 12px;

}

table

{
    border-collapse: collapse;
    background-color: wheat ;
    width: 55%;
    margin: 10px 0;

}
table tr { margin:2.5px 0;}
table td

{
    width: 50%;
    padding-left: 10px;
}
.action{ background-color: rgb(76, 96, 45); color: #e0cccc; align-items: center; align-content: center;}